<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch Screen</title>
</head>
<body>
<h1>Watch Screen</h1>
<div id="screenContainer"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    var room_id = "{{ room_id }}";

    socket.emit('join_room', {'room_id': room_id});

    socket.on('joined_room', function (data) {
        console.log('Joined room: ' + data.room_id);
    });

    socket.on('left_room', function (data) {
        console.log('Left room: ' + data.room_id);
    });

    socket.on('update_screen', function (data) {
        var image_data = data.image_data;
        document.getElementById('screenContainer').innerHTML = '<img src="data:image/png;base64,' + image_data + '" />';
    });
</script>
</body>
</html>
